[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest.git

[submodule "cmake-modules"]
	path = cmake-modules
	url = git@github.com:PhischDotOrg/cmake-modules.git
